.git
.venv
__pycache__/
*.py[cod]

data/
logs/
stage/
test_runs/
smart_ilab.duckdb

zone5_cv_time_features_package/data/
zone5_cv_time_features_package/model/
zone5_cv_time_features_package/logs/
zone5_cv_time_features_package/.test_runtime/

air1_all_zones_cv_time_features_package/data/
air1_all_zones_cv_time_features_package/model/
air1_all_zones_cv_time_features_package/logs/

node_modules/
dist/
npm-debug.log*
